<% if @doctors.count > 0 %>
  <h4><%= @category.name %></h4>

  <table class="table">
    <thead>
      <tr>
        <th>E-mail</th>
        <th>Phone</th>
        <th>Appointments</th>
      </tr>  
    </thead>  
    <tbody>
      <%= render @doctors %>
    <tbody>  
  </table>

<% else %>
  <% flash.now[:info] = "There are no Doctors in #{@category.name}" %>
<% end %>